<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src='../assets/images/surf.png' alt='PngSurfeur' width='180 px' height='180 px' style='float: left;'>
    </div>
    <div class="col-md-7">
      <h1>
        Bienvenue sur SurfPro
      </h1>
      <h3>
        L'application de tous les bons surfers
      </h3>
    </div>
  </div>
  <div class='row justify-content-start'>
    <div class="col-md-4">
      <app-list-spots>
      </app-list-spots>
    </div>
    <div class="col-md-4">
      <app-results>
      </app-results>
    </div>
    <div class="col-md-4">
      <app-add-spot>
      </app-add-spot>
    </div>
  </div>
</div>